<!--header區-->
<header class="header bg-dark">
    <div class="container header-wrapper d-flex">
      <a href="https://robinssrb.github.io/viteHomework-se/#" class="logo"><img src="../assets/images/logo-white.png" alt="Logo"></a>
      <ul class="nav d-flex">
        <li class="nav-item"><a href="#">系列鏡框</a></li>
        <li class="nav-item"><a href="https://robinssrb.github.io/viteHomework-se/about.html">門市據點</a></li>
        <li class="nav-item"><a href="#">部落格</a></li>
        <li class="nav-item"><a href="https://robinssrb.github.io/viteHomework-se/QandA.html" class="pr-0">常見問題</a></li>
      </ul>
    </div>
  </header>